.flow-wish {
  background: #fff;
     margin: 5px;
}

.wishlist-table.mat-table {
  display: block;
  overflow-x:auto;
  .mat-row, .mat-header-row {
      display: flex;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      align-items: center;
      min-height: 48px;
      padding: 0 24px;
      min-width: 870px;
  }
  .mat-row{
      min-height: 100px;
  }
  .mat-cell, .mat-header-cell {
      flex: 1;
      overflow: hidden;
      word-wrap: break-word;
  }
  .mat-header-cell {
      font-size: 14px;
  }
  .mat-cell{

      .product-name{
          color: inherit;
          text-decoration: none;
          font-weight: 500;
      }
      .remove{
          margin-left: 8px;
      }
  }
}

 .wish-panel.mat-expanded  {
  .mat-expansion-panel-header {
    background-color: #1976d2;
  .mat-expansion-panel-header-title {
    color: #fff;
  }

}
}

::ng-deep .mat-expanded .mat-expansion-indicator {
  &::after {
    color: #fff !important;
  }
}

.product-image {
  width: 100px;
    height: 85px;
  img{
    max-width: 100%;
    max-height: 100%;
}
}
