
.mat-card.product-image {
  padding: 6px;
  text-align: center;
  height: 400px;
  .mat-chip-list {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.small-carousel {
    margin-top: 8px;
    .swiper-container-vertical {
      height: 400px;
      .swiper-slide {
        // height: 100% !important;
        mat-card {
          height: 82% !important;
        }
      }
      .swiper-button-prev {
        left: 50%;
        margin-left: -13px;
        margin-top: 0;
        top: -15px;
        transform: rotate(90deg);
    }

    .swiper-button-next {
      bottom: -15px;
      left: 50%;
      margin-left: -13px;
      margin-top: 0;
      top: auto;
      transform: rotate(90deg);
    }
    }
    .swiper-container {
        padding: 2px;

        .swiper-slide {
            text-align: center;
            mat-card {
              height: 100px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-prev {
        left: -10px;
    }

    .swiper-button-next {
        right: -10px;
    }
}

.mat-card.zoom-viewer {
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    padding: 8px;
    z-index: 99;
}

.mt-16 {
    margin-top: 16px;
}

.details button {
    padding: 0;
    min-width: 36px;
    margin-left: 6px;
}

.mat-list.reviews {
    .mat-list-item .mat-list-avatar.review-author {
        width: 80px;
        height: 80px;
    }

    .mat-list-item .mat-line.text {
        white-space: unset;
        font-style: italic;
        margin: 10px 0;
    }
}

.full-desc {
    padding: 30px 40px;
}


@media (min-width: 1280px) {
    .mat-card.product-image img {

        cursor: zoom-in;
        cursor: url('../../../../assets/images/others/zoom.svg') 10 10, zoom-in;
    }
}

.activePrice {
    color: #6d736f;
    font-size: 14px;
    text-decoration: line-through;
}

.mt-2 {
    .specifications-main {
        .desc-header {
            margin-top: 15px;
        }

    }

}
.old-price {
  text-decoration: line-through;
  text-decoration-color: #5f5f5f;
  color: #676565;
}
.main-prices {
    span {
        font-size: medium;
        font-weight: 500;
        margin: 3px;
    }
}
.clas-discount{
    color: #151517d9;
    font-size: 15px !important;
    text-decoration: line-through;
}
.off-perc{
    color: green;
    font-size: small !important;
    font-weight: 500 !important;
    margin-left: 10px !important;
}

.specification-table.mat-table {
  display: block;
  overflow-x:auto;
  .mat-row{
      display: flex;
      align-items: center;
      min-height: 48px;
      padding: 0 24px;
      min-width: 870px;
  }

  .mat-cell {
      flex: 1;
      overflow: hidden;
      word-wrap: break-word;
  }

}
