.card-img {
    height: auto;
    width: auto;
    margin: 0 auto;
    max-width: 100%;
}

.para {
    line-height: 27px;
    color: #676c6f;
    font-family: 'Roboto',sans-serif;
    padding: 50px;
}