@media only screen and (max-width: 600px) {
    .theme-container {
        p {
            font-size: 10px;
            margin: 0;
        }
    }
    .foot-details{
        display: none;
    }
}

.theme-container {
  p {

      margin: 0;
  }
}
