.products-tabs{
    margin-top: 30px;  

}

.delivery-info {
    background: #fff;
    height: 200px;
    width: 100%;
    padding: 10px;
    .bg-image {
        background-image: url('../../../assets/images/Banner/delivery.jpg');
        background-repeat: no-repeat;
    background-size: 100% 100%;
    }
}